// Заголовки, общие БЄМ блоки и проче...
.title {
 font-family: "Comfortaa";
 @include adaptiveValue("font-size", 48, 24);
 line-height: math.div(53, 48);
 color: $mainColor;
}

.text {
 @include adaptiveValue("font-size", 18, 16);
 line-height: math.div(30, 18);
}

.num-block {
 @include adaptiveValue("font-size", 26, 20);
 @include adaptiveValue("margin-bottom", 80, 30);
 display: block;
 line-height: math.div(32, 26);
 color: $btnColor;
}

.swiper-pagination {
 display: flex;
 justify-content: center;
 gap: rem(20);
}
.swiper-pagination-bullet {
 @include adaptiveValue("width", 20, 10);
 @include adaptiveValue("height", 20, 10);
 background-color: $btnColor;
 border-radius: 50%;
}
.swiper-pagination-bullet-active {
 background-color: $mainColor;
} 