//====================================================================================================
.header {
 @include adaptiveValue("padding-top", 70, 50);
 @include adaptiveValue("padding-bottom", 70, 50);
 border-bottom: rem(1) solid $btnColor;
 background-color: $bgColor;
 // .header__inner
 &__inner {
  display: flex;
  align-items: center;
  position: relative;
 }
 // .header__logo
 &__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
 }
}
//==============================================================================================
.menu {
 // .menu_left
 &_left {
  margin-right: auto;
  @media (max-width: $tablet) {
   margin-bottom: rem(20);
  }
 }
 // .menu_right
 &_right {
  margin-left: auto;
 }
 // .menu__list
 &__list {
  display: flex;
  justify-content: space-between;
  @include adaptiveValue("gap", 120, 20);
  @media (max-width: $tablet) {
   flex-direction: column;
   align-items: center;
   gap: rem(20);
  }
 }
 // .menu__link
 &__link {
  @include adaptiveValue("font-size", 18, 14);
  line-height: math.div(42, 18);
  transition: all 0.6s;
  &_phone {
   color: $btnColor;
   @media (max-width: $tablet) {
    color: $mainColor;
   }
  }
  &:hover {
   border-bottom: rem(1) solid $btnColor;
  } 
  @media (max-width: $tablet) {
   font-size: rem(24);
  }
 }
 // .menu__body
 &__body {
  @media (max-width: $tablet) {
   position: fixed;
   width: 100%;
   height: 100%;
   top: -100%;
   left: 0;
   right: 0;
   bottom: 0;
   overflow: auto;
   background-color: $primaryColor;
   padding: rem(150) rem(15) rem(50) rem(15);
   z-index: 4;
   transition: top 0.8s;
   .menu-open & {
    top: 0;
   }
  }
 }
}
//====================================================================================================
//Burger
.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
  margin-left: auto;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $btnColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}