//====================================================================================================
.main-block {
 background: url("../img/main-block/image-1.png"), $bgColor;
 background-repeat: no-repeat;
 background-size: auto;
 background-position: top right;
 height: rem(760);
 @include adaptiveValue("margin-top", 180, 120);
 @media (max-width: $mobile) {
  background: $bgColor;
  height: auto;
 }
 // .main-block__body
 &__body {
  max-width: rem(830);
  width: 100%;
  @include adaptiveValue("padding-top", 230, 50);
  @media (max-width: $tablet) {
   padding-bottom: rem(50);
  }
 }
 // .main-block__title
 &__title {
  font-family: "Comfortaa";
  font-weight: 700;
  @include adaptiveValue("font-size", 58, 42);
  line-height: math.div( 64, 58);
  margin-bottom: rem(24);
  @media (max-width: $mobileSmall) {
   text-align: center;
  }
 }
 // .main-block__text
 &__text {
  @include adaptiveValue("font-size", 26, 20);
  line-height: math.div(42, 26);
  @include adaptiveValue("margin-bottom", 80, 30);
 }
}
//====================================================================================================
.services {
 @include adaptiveValue("padding-top", 120, 50);
 @include adaptiveValue("padding-top", 120, 50);
 // .services__top
 &__top {
  display: flex;
  justify-content: space-between;
  @include adaptiveValue("margin-bottom", 80, 30);
  @media (max-width: $tablet) {
   flex-direction: column;
  }
 }
 // .services__text
 &__text {
  @include adaptiveValue("font-size", 20, 16);
  line-height: math.div(30, 20);
  max-width: rem(745);
  width: 100%;
  @media (max-width: $tablet) {
   margin-top: rem(20);
   max-width: 100%;
  }
 }
 // .services__item
 &__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: rem(222);
  width: 100%;
 }
 // .services__image
 &__image {
  margin-bottom: rem(20);
 }
}
//==============================================================================================================
.tabs {
 // .tabs__navigation
 &__navigation {
  display: flex;
  @include adaptiveValue("gap", 90, 40);
  @media (max-width: 1200px) {
   flex-wrap: wrap;
   justify-content: center;
  }
 }
 // .tabs__title
 &__title {
  font-weight: 700;
  line-height: math.div(26, 18);
  // ._tab-active
  &._tab-active {
   color: $btnColor;
  }
 }
 // .tabs__content
 &__content {
  @include adaptiveValue("padding-top", 80, 40);
  @include adaptiveValue("padding-bottom", 80, 40);
 }
}
//========================================================================================
.tabs-body {
 // .tabs-body__top
 &__top {
  display: flex;
  background-color: $bgColor;
  @include adaptiveValue("column-gap", 110, 40);
  @include adaptiveValue("padding-top", 80, 20);
  @include adaptiveValue("padding-bottom", 80, 20);
  @media (max-width: 1150px) {
   flex-direction: column;
   margin-bottom: rem(30);
  }
 }
 // .tabs-body__title
 &__title {
  font-family: "Comfortaa";
  @include adaptiveValue("font-size", 38, 24);
  line-height: math.div(54, 38);
  max-width: rem(580);
  width: 100%;
  span {
   color: $btnColor;
  }
  @media (max-width: 1150px) {
   max-width: 100%;
   margin-bottom: rem(30);
  }
 }
 // .tabs-body__descr
 &__descr {
  max-width: rem(670);
  width: 100%;
  p {
   &:first-child {
    margin-bottom: rem(20);
   }
  }
  @media (max-width: 1150px) {
   max-width: 100%;
  }
 }
 // .tabs-body__bottom
 &__bottom {
  display: flex;
  align-items: flex-end;
  @include adaptiveValue("column-gap", 110, 20);
  margin-top: rem(-190);
  @media (max-width: 1150px) {
   margin-top: 0;
  }
  @media (max-width: $tablet) {
   flex-direction: column;
   align-items: flex-start;
  }
 }
 // .tabs-body__image
 &__image {
  @media (max-width: $tablet) {
   width: 100%;
   margin-bottom: rem(30);
  }
 }
 // .tabs-body__bottom-box
 &__bottom-box {
  max-width: rem(670);
  width: 100%;
  @media (max-width: $tablet) {  
   max-width: 100%;
   text-align: center;
  }
 } 
 // .tabs-body__text
 &__text {
  font-weight: 700;
  max-width: rem(350);
  width: 100%;
  margin-bottom: rem(20);
  @media (max-width: $tablet) {  
   max-width: 100%;
  }
 }
 // .tabs-body__links
 &__links {
  display: flex;
  gap: rem(20);
  @media (max-width: $tablet) {  
   justify-content: center;
  }
  @media (max-width: $mobileSmall) {
   display: block;
  }
 }
 // .tabs-body__link
 &__link {
  // .tabs-body__link_white
  &_white {
   background-color: $primaryColor;
   color: $btnColor;
  }
 }
}
//===========================================================================================================
.promotions {
 @include adaptiveValue("padding-bottom", 180, 60);
 // .promotions__wrapper
 &__wrapper {
  background-image: url("../img/promotions/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: rem(850);
  color: $primaryColor;
  padding-top: rem(210);
  @media (max-width: $tablet) {
   height: auto;
   @include adaptiveValue("padding-top", 120, 60);
   @include adaptiveValue("padding-bottom", 120, 60);
   margin-bottom: rem(30);
  }
 }
 // .promotions__num-block
 &__num-block {
  color: $primaryColor;
 }
 // .promotions__top
 &__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $mobile) {
   flex-direction: column;
   gap: rem(20);
   text-align: center;
  }
 }
 // .promotions__title
 &__title {
  color: $primaryColor;
  max-width: rem(470);
  width: 100%;
 }
 // .promotions__text
 &__text {
  @include adaptiveValue("font-size", 20, 16);
  line-height: math.div(30, 20);
  max-width: rem(740);
  width: 100%;
 }
}
//=================================================================================================================
.offers {
 // .offers__slider 
 &__slider {
  display: none; 
  @media (max-width: $tablet) {
   display: block;
   margin-bottom: rem(20);
  }
 }
 // .offers__wrapper
 &__wrapper {
  margin-bottom: rem(20);
 }
 // .offers__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  @include adaptiveValue("gap", 40, 20);
  margin-top: -20%;
  @media (max-width: $tablet) {
   display: none;
  }
 }
 // .offers__item
 &__item {
  border: rem(1) solid $btnColor;
 }
 // .offers__image
 &__image {
  width: 100%;
  margin-bottom: rem(60);
 }
 // .offers__item-body
 &__item-body {
  padding: 0 rem(45) rem(45) rem(45);
  @media (max-width: $tablet) {
   text-align: center;
  }
 }
 // .offers__item-name
 &__item-name {
  font-weight: 700;
  @include adaptiveValue("font-size", 24, 16);
  line-height: math.div(30, 24);
  margin-bottom: rem(30);
 }
}
//===================================================================================================
.specials {
 @include adaptiveValue("padding-top", 120, 60);
 // .specials__top
 &__top {
  display: flex;
  align-items: flex-start;
  @include adaptiveValue("column-gap", 170, 40);
  margin-bottom: rem(30);
  @media (max-width: $tablet) {
   flex-direction: column;
   gap: rem(20);
  }
 }
 // .specials__title
 &__title {
  font-family: "Comfortaa";
  @include adaptiveValue("font-size", 38, 28);
  line-height: math.div(54, 38);
  max-width: rem(605);
  width: 100%;
  span {
   color: $btnColor;
  }
 }
 // .specials__descr
 &__descr {
  max-width: rem(650);
  width: 100%;
  p {
   &:first-child {
    margin-bottom: rem(30);
   }
  }
  @media (max-width: $tablet) {
   max-width: 100%;
  }
 }
 // .specials__bottom
 &__bottom {
  display: flex;
  align-items: flex-end;
  @include adaptiveValue("column-gap", 170, 40);
  @media (max-width: $tablet) {
   flex-direction: column;
   align-items: flex-start;
   gap: rem(20);
  }
 }
 // .specials__image
 &__image {
  @media (max-width: $tablet) {
   width: 100%;
  }
 }
 // .specials__box
 &__box {
  max-width: rem(480);
  width: 100%;
  @media (max-width: $tablet) {
   max-width: 100%;
   text-align: center;
  }
 }
 // .specials__text
 &__text {
  font-weight: 700;
  margin-bottom: rem(20);
 }
}
//=============================================================================================================
.about {
 background-color: $bgColor;
 @include adaptiveValue("padding-top", 180, 60);
 @include adaptiveValue("padding-bottom", 180, 60);
 // .about__top
 &__top {
  display: flex;
  @include adaptiveValue("column-gap", 160, 20);
  margin-bottom: rem(20);
  @media (max-width: $tablet) {
   flex-direction: column;
   gap: rem(20);
  }
 }
 // .about__title
 &__title {
  max-width: rem(620);
  width: 100%;
 }
 // .about__descr
 &__descr {
  @include adaptiveValue("font-size", 20, 16);
  line-height: math.div(30, 20);
  max-width: rem(740);
  width: 100%;
  p {
   &:first-child {
    margin-bottom: rem(30);
   }
  }
  @media (max-width: $tablet) {
   max-width: 100%;
  }
 }
 // .about__info
 &__info {
  display: flex;
  align-items: flex-end;
  @include adaptiveValue("column-gap", 226, 20);
  @media (max-width: $tablet) {
   flex-direction: column;
   align-items: flex-start;
  }
 }
 // .about__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 260px));
  column-gap: rem(30);
  row-gap: rem(60);
  max-width: rem(550);
  width: 100%;
  @media (max-width: $tablet) {
   grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
   max-width: 100%;
   justify-items: center;
   margin-bottom: rem(30);
   text-align: center;
  }
 }
 // .about__achievements
 &__achievements {
  @include adaptiveValue("font-size", 18, 16);
  line-height: math.div(30, 20);
  span {
   display: block;
   @include adaptiveValue("font-size", 48, 28);
   line-height: math.div(54, 48);
   color: $primaryColor!important;
   text-shadow: 2px 0 2px $btnColor, 0 2px 2px $btnColor, -1px 0 2px $btnColor, 0 -1px 1px $btnColor;
  }
 }
 // .about__list-name
 &__list-name {
  display: block;
  @include adaptiveValue("margin-bottom", 30, 5);;
 }
 // .about__list-item
 &__list-item {
  @include adaptiveValue("font-size", 20, 16);
  line-height: math.div(30, 20);
 }
}
//===========================================================================================================
.masters {
 // .masters__inner
 &__inner {
  background-image: url("../img/masters/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include adaptiveValue("padding-top", 120, 60);
  @include adaptiveValue("padding-bottom", 120, 60);
  color: $primaryColor;
  height: rem(850);
  @media (max-width: $mobile) {
   margin-bottom: rem(30);
   height: auto;
  }
 }
 // .masters__num-block
 &__num-block {
  color: $primaryColor;
 }
 // .masters__box
 &__box {
  display: flex;
  justify-content: space-between;
  @media (max-width: $mobile) {
   flex-direction: column;
   gap: rem(20);
   align-items: center;
   text-align: center;
  }
 }
 // .masters__title
 &__title {
  max-width: rem(240);
  width: 100%;
  color: $primaryColor;
 }
 // .masters__text
 &__text {
  @include adaptiveValue("font-size", 20, 16);
  line-height: math.div(30, 20);
  max-width: rem(740);
  width: 100%;
 }
}
//====================================================================================================================
.masters-slider {
 // .masters-slider__slider
 &__slider {
  display: none;
  @media (max-width: $mobile) {
   display: block;
  }
 }
 // .masters-slider__wrapper
 &__wrapper {
  margin-bottom: rem(20);
 }
}
//===========================================================================================================
.masters-list,
.masters-slider {
 margin-top: rem(-220);
 @media (max-width: $mobile) {
  margin-top: 0;
 }
	// .masters-list__navigation
	&__navigation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  @include adaptiveValue("gap", 40, 10);
  @media (max-width: $mobile) {
   display: none;
  }
	}
 // .masters-list__item
	&__item {
  background-color: $bgColor;
  border: rem(1) solid $btnColor;
	}
	// .masters-list__image
	&__image {
  width: 100%;
	}
	// .masters-list__info
	&__info {
  padding: rem(60) rem(50) rem(40) rem(50);
  @media (max-width: $mobile) {
   text-align: center;
  }
 }
	// .masters-list__name
	&__name {
  font-weight: 700;
  @include adaptiveValue("font-size", 26, 18);
  line-height: math.div(30, 26);
  margin-bottom: rem(40);
	}
	// .masters-list__skills
	&__skills {
  margin-bottom: rem(20);
	}
	// .masters-list__skill
	&__skill {
  @include adaptiveValue("font-size", 20, 16);
  line-height: math.div(30, 20);
	}
	// .masters-list__title
	&__title {
  color: $btnColor;
  text-decoration: underline;
	}
	// .masters-list__content
	&__content {
  @include adaptiveValue("padding-top", 140, 40);
	}
}
//=========================================================================================================
.body-master {
	// .body-master__inner
	&__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media (max-width: 1200px) {
   flex-direction: column;
   align-items: flex-start;
   gap: rem(20);
  }
	}
	// .body-master__box
	&__box {
  max-width: rem(610);
  width: 100%;
  margin-right: rem(30);
  @media (max-width: 1200px) {
   max-width: 100%;
  }
	}
	// .body-master__name
	&__name {
  font-family: "Comfortaa";
  @include adaptiveValue("font-size", 38, 24);
  line-height: math.div(54, 38);
  @include adaptiveValue("margin-bottom", 60, 20);
  span {
   display: block;
   color: $btnColor;
  }   
	}
 // .body-master__image 
 &__image {
  width: 100%;
 }
	// .body-master__descr
	&__descr {
  max-width: rem(650);
  width: 100%;
  @media (max-width: 1200px) {
   max-width: 100%;
  }
	}
	// .body-master__text
	&__text {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  margin-bottom: rem(60);
	}
	// .body-master__link
	&__link {
  @media (max-width: 600px) {
   max-width: 100%;
  }
	}
}
//===========================================================================================================
.documents {
 @include adaptiveValue("padding-top", 120, 60);
 @include adaptiveValue("padding-bottom", 120, 60);
 background-color: $bgColor;
 background-size: contain;
 // .documents__top
 &__top {
  display: flex;
  justify-content: space-between;
  @include adaptiveValue("margin-bottom", 50, 25);
  @media (max-width: $mobile) {
   flex-direction: column;
   gap: rem(20);
   text-align: center;
  }
 }
 // .documents__title
 &__title {
  margin-right: rem(30);
 }
 // .documents__text
 &__text {
  @include adaptiveValue("font-size", 20, 16);
  line-height: math.div(30, 20);
  max-width: rem(740);
  width: 100%;
 }
 // .documents__wrapper
 &__wrapper {
  margin-bottom: rem(30);
 }
 // .documents__image
 &__image {
  width: 100%;
 }
 .swiper-pagination {
  display: none;
  @media (max-width: 1450px) {
   display: flex;
  }
 }
}
//===========================================================================================================
.testimonials {
 @include adaptiveValue("padding-top", 120, 60);
 // .testimonials__inner
 &__inner {
  display: flex;
  justify-content: space-between;
  gap: rem(35);
  position: relative;
  @media (max-width: 1200px) {
   flex-direction: column;
  }
  @media (max-width: $mobile) {
   gap: rem(80);
  }
 }
 // .testimonials__box
 &__box {
  max-width: rem(350);
  width: 100%;
  @media (max-width: $mobile) {
   max-width: 100%;
  }
 }
 // .testimonials__title
 &__title {
  @include adaptiveValue("margin-bottom", 75, 20);
 }
 // .testimonials__text
 &__text {
  @include adaptiveValue("font-size", 20, 16);
  line-height: math.div(30, 20);
 }
 // .testimonials__wrapper
 &__wrapper {
  @media (max-width: 1200px) {
   height: auto;
  }
 }
 // .testimonials__slide
 &__slide {
  max-width: rem(1130);
  width: 100%;
 }
 // .testimonials__item
 &__item {
  display: flex;
  align-items: flex-start;
  gap: rem(50);
  background-image: url("../img/testimonials/slider-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem(750);
  @include adaptiveValue("padding-top", 160, 80);
  @include adaptiveValue("padding-right", 70, 30);
  @include adaptiveValue("padding-bottom", 160, 80);
  @include adaptiveValue("padding-left", 130, 80);
  width: 100%;
  @media (max-width: 1200px) {
   height: rem(600);
  }
  @media (max-width: 860px) {
   flex-direction: column;
   align-items: center;
   text-align: center;
   @include adaptiveValue("padding-left", 70, 30);
   height: auto;
  }
 }
 // .testimonials__userpic
 &__userpic {
  border-radius: 50%;
 }
 // .testimonials__descr
 &__descr {
  margin-bottom: rem(30);
 }
 // .testimonials__author
 &__author {
  font-weight: 700;
  display: block;
  @include adaptiveValue("font-size", 18, 14);
  line-height: math.div(27, 18);
 }
 // .testimonials__date
 &__date {
  @include adaptiveValue("font-size", 18, 14);
  line-height: math.div(27, 18);
 }
 &__buttons {
  position: absolute;
  display: flex;
  gap: rem(5);
  left: 0;
  top: 50%;
  cursor: pointer;
  @media (max-width: 1200px) {
   top: 0;
   left: 80%;
  }
  @media (max-width: $mobile) {
   top: 17%;
   left: 50%;
   transform: translateX(-50%);
  }
 }
 &__button-prev,
 &__button-next {
  @include adaptiveValue("width", 75, 35);
  @include adaptiveValue("height", 75, 35);
  background-color: $btnColor;
  border-radius: rem(60);
  position: relative; 
  &::before {
   @include pseudo;
   @include background(url("../img/icons/arrow.svg"));
   width: rem(28);
   height: rem(28);
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
  }
 }
 &__button-prev::before {
  transform: translate(-50%, -50%) rotate(-180deg);
 }
 &__button-next::before {
  transform: translate(-50%, -50%) rotate(360deg);
 }
 .swiper-button-disabled {
  background-color: #E5E5E5;
 }
}
//===========================================================================================================
//===========================================================================================================
//===========================================================================================================
//===========================================================================================================
//===========================================================================================================
//===========================================================================================================